header{
    background-color: #2e67a0;
}
body{
    background-color: rgb(158, 224, 247);
}
a{
    color: white;
}
 footer{
    background-color: #2e67a0;
 }
 h1{
    color: white;
    
 }
 .ii{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 20%;
 }
 p{
    color: rgb(52, 73, 105);
 }
 .ii2{
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 20%;
 }
 .ch{
    color: #184068;
 }